$orange-gradient: linear-gradient(
  90deg,
  rgba(249, 115, 4, 1) 30%,
  rgba(253, 248, 157, 1) 100%
);
// $yellow-gradient:rgba(253, 248, 157, 1);
$dark-blue-background: #0c224c;
$dark-blue-button: #023d67;
$bright-yellow: #fdf89d;
$light-grey: #fcfaf9;
$orange-pastel: #fddf9d;
$dark-blue: #041129;
$background-light: #fcfaf9;
$grey-text: #828282;
