$orange-gradient:linear-gradient(
    90deg,
    rgba(249, 115, 4, 1) 30%,
    rgba(253, 248, 157, 1) 100%
  );
// $yellow-gradient:rgba(253, 248, 157, 1);
$dark-blue-background:#0C224C;
$dark-blue-button:#023D67;
$bright-yellow: #fdf89d;
$light-grey:#fcfaf9;
$orange-pastel: #FDDF9D;
$dark-blue:#041129
