@import '@/styles/_colors.scss';

.button {
    width: 100%;
    padding: 8px;
    // background: none;
     background-color: $dark-blue-button;
    border: none;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0em;
    // color: $orange-gradient;
    margin: 0px 10px 0px 0px;
    min-width: max-content;

    &:hover {
        background-color: $light-grey;
        width: 100%;
    }
}