@import '@/styles/_colors.scss';

.button {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 32px;
  border: 1px solid var(--accent-blue);
  background: var(--white);
  text-align: center;
  cursor: pointer;
  letter-spacing: 0em;
  margin: 0px 10px 0px 0px;
  min-width: max-content;

  &:hover {
    background-color: var(--background-dark);
    color: var(--bright-yellow);
    width: 100%;
  }
}
