.header {
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  height: 80px;
  padding-left: 80px;
  padding-right: 45px;
  flex-grow: 0;
  // position: fixed;
  inset: 0;
  z-index: 200;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;

    &:hover {
      text-decoration: none;
      color: #fdf89d;
      cursor: pointer;
    }
  }

  &__btn {
    user-select: none;
    padding: 0;
    width: 239px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border: 2px solid #ff9900;
    color: var(--white);
    background-color: transparent;

    &:hover {
      font-weight: 700;
    }
  }
}
