@import "@/styles/_mixins.scss";
@import "@/styles/_colors.scss";
@import "@/styles/_base.scss";

// .searchBlock {
//   // width: 224px;
//   width: auto;
//   // max-width: 224px;
//   min-width: 224px;
//   height: 56px;
//   // height: auto;
//   position: relative;
//   background-color: var(--white);
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   // gap: 50px;

//   flex-direction: column;

//   &:first-child {
//     border-top-left-radius: 20px;
//     border-bottom-left-radius: 20px;
//   }

//   &__buttons {
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//   }

//   &__item {
//     display: flex;
//     flex-direction: column;
//   }
// }
.input {
  padding: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 2px solid #ff9900;
  border-radius: 4px;
  background-color: transparent;
  // width: 170px;
  background-color: $background-light;
  width: 19%;
  min-width: 224px;
  height: 60px;
  // font-size: 24px;
  color: $dark-blue;
  position: relative;

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Убираем стрелки для Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &:hover {
    font-weight: 600;
  }

  &::placeholder {
    @extend .input-font;
  }

  &:hover::before {
    content: attr(title);
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: text;
    z-index: 1;
  }

  &:focus {
    background-color: var(--white);
    border: 2px solid #adcde5;
    &::placeholder {
      text-align: left;
      padding-left: 2px;
    }
  }
}

.clear {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.inputError {
  @include input-error;
  top: 52%;
  left: 26%;
}

.sportItem__child {
  // border: 2px solid #adcde5;
  // border-top: none;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  flex-wrap: wrap;
  height: fit-content;
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 30px;
  overflow: hidden;
  cursor: text;
}
