.section {
  width: 80vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 24px;
  max-width: 628px;
  gap: 16px;
  border-bottom: 1px solid #ADCDE5;
  &__sale {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 8px;
    margin-bottom: 20px;
    &__price{
      position: absolute;
      right: 30px;
      bottom: 0px;
      
       }
    & p {
      margin: 0;
      color: var(--accent-blue);
      font-size: 20px;
      font-weight: bold;
    }}

  & p,h3 {
    margin: 0;
  }}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  width: 600px;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4px;
    gap: 12px;
    &_name {
      cursor: pointer;
      text-align: start;
      // text-decoration: none; 
      // color: var(--accent-blue);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    height: 46;
    cursor: pointer;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid #ff9900;
    margin-top: 10px;
    border-radius: 35px;
    background-color: white;
  }

  &__map_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.container__altItem {
  display: flex;
  gap: 20px;
}

.altItem {
  display: flex;
  width: 628px;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 75px;
    width: 600px;
    color: #828282;

    &_info {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    &_text {
      display: flex;
      gap: 75px;
      color: #828282;
    }
  }
}

.link {
  text-decoration: none; // Убирает подчеркивание
  color: var(--accent-blue); // Наследует цвет текста
}
