@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import '@/styles/_base.scss';

:root {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
  --dark-blue: #041129;
  --white: #ffffff;
  --accent-blue: #023d67;
  --background-dark: #0c224c;
  --background-light: #fcfaf9;
  --bright-yellow: #fdf89d;
  --orange-pastel: #fddf9d;
  --hover: #f1f1f1;
  --header-button: #adcde5;
  --header-button-hover: linear-gradient(
    90deg,
    rgba(170, 169, 169, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
  --gradient: linear-gradient(
    90deg,
    rgba(253, 248, 157, 1) 30%,
    rgba(249, 115, 4, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: $background-light;
}
