@import '@/styles/_colors.scss';
.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  scrollbar-color: $dark-blue-button #f1f1f1;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-blue-button;
    border-radius: 32px;
  }
}

.menu {
  position: relative;
  width: auto;
  max-height: 300px;

  &__item,
  &__subitem {
    padding: 5px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: var(--hover);
    }
    .itemContent {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .itemText {
      white-space: wrap;
      flex-grow: 1;

      &:hover {
        font-weight: 600;
      }
    }

    &__arrow {
      margin-left: 5%;
    }
  }

  &__subitem {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 3px;
    flex-direction: row-reverse;
    // padding-left: 20px;
    // width:max-content;
    align-items: center;

    &:hover {
      font-weight: 600;
    }
  }
}
.submenu {
  list-style: none;
  width: fit-content;
  // width: 371px;
  position: absolute;
  left: 406px; /* Подменю будет справа от основного меню */
  top: 123.7px;
  padding: 16px 20px 0px 20px;
  // cursor: pointer;
  // top: 100px;
  overflow-y: auto;
  direction: ltr;
  // scrollbar-color: #777575 #f1f1f1;
  background-color: var(--hover);
  height: 302px;
  // width: 100%;
  // width: inherit;
  overflow-x: hidden;
  min-width: 180%;
  z-index: 100;
}

.selected {
  font-weight: bold;
  background-color: var(--hover);
}

.checkbox {
  // accent-color: none;
  outline: none; /* Убирает обводку при фокусе */
  appearance: none;
  width: 20px; /* Устанавливаем размер для видимости */
  height: 20px; /* Устанавливаем размер для видимости */
  border: 2px solid transparent; /* Убирает рамку, но оставляет пространство для щелчка */
  border-radius: 4px; /* Угол для стилизованного вид */
}
.checkbox:checked {
  background-color: none; /* Цвет фона при выборе */
  border-color: none; /* Цвет рамки при выборе */
}
/* Добавляем галочку */
.checkbox:checked:before {
  content: ''; /* Оставляем пустым для изображения */
  position: absolute; /* Позиционирование по отношению к родителю */
  width: 24px; /* Ширина иконки */
  height: 24px; /* Высота иконки */
  background-image: url('@/assets/check.svg'); /* Путь к иконке */
  background-size: contain; /* Масштабирование иконки */
  background-repeat: no-repeat; /* Запрет повторения иконки */
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hovered {
  background-color: var(--hover);
  font-weight: 600;
}
